@{
    ViewData["Title "] = "Guardado";
}

<div class="text-center">
    <h1>Maestro Guardado Exitosamente</h1>
    <h2>continua navegando o regresa al inicio</h2>
    <br>
    <a asp-controller="Home" asp-action="index" class="btn btn-primary mb-3">Inicio</a>
</div>