@{
    ViewData ["Title"] = "Lista de Maestros";
}

<div class="text-center">
    <h1>Listado de Maestros</h1>
    <br>
    <a asp-controller="Maestros" asp-action="MaestrosAdd" class="btn btn-primary btn-3">Agregar Maestro</a>
    <hr size="4">
</div>
<br><br>


<div class="row">
    <div class="col-4">
        <img class="rounded-circle" src="~/img/maestro3.jpg" width="350px" height="450px" >
        <br>
        <h3 class="text-center">Dwayne Rock </h3>
        <div class="text-center">
            
            <a asp-controller="" asp-action="" class="btn btn-primary mb-3"> Editar</a>
            <a asp-controller="" asp-action="" class="btn btn-danger mb-3 ">Borrar</a>
        </div>
    </div>

    <div class="col-4">
        <img class="rounded-circle" src="~/img/maestro2.jpg" width="350px" height="450px">
         <br>
        <h3 class="text-center">Silvester Stalone</h3>
        <div class="text-center">
            <a asp-controller="" asp-action="" class="btn btn-primary mb-3"> Editar</a>
            <a asp-controller="" asp-action="" class="btn btn-danger mb-3 ">Borrar</a>
        </div>
    </div>


    <div class="col-4">
        <img class="rounded-circle" src="~/img/maestro1.jpg" width="350px" height="450px">
        <br>
        <h3 class="text-center">David Roman Baez </h3>
        <div class="text-center">
            <a asp-controller="" asp-action="" class="btn btn-primary mb-3"> Editar</a>
            <a asp-controller="" asp-action="" class="btn btn-danger mb-3 ">Borrar</a>
        </div>
    </div>
</div>

