@{
    ViewData["Title"] = "Home Page";
}

<br><br>
<div class="text-center">
    <h1 class="text-center">LAS CARRERAS MENOS ESPERADAS</h1>
    <h2 class="text-center">¡encuentralas solo aqui!</h2>
</div>
<br><br><br><br><br><br><br>

<div >
    <h3>Se parte de nosotros y agenda tu cita</h3>
    
    <img class="img-guild" src="https://carrerasuniversitarias.pe/img/article/que-es-ser-un-estudiante-universitario" alt="">

</div>
<br><br><br><br><br><br><br><br><br><br>
